:root {
    --purple: #7F5AF0;
    --green: #2CB67D;
    --dark-grey: #72757E;
    --light-grey: #94A1B2;
    --blackii:#16161A;
  }


.main {
    max-width: 500px;
    width: 90%;
}

.black-container {
    background-color: var(--blackii);
}

.purple-container {
    background-color: var(--purple);
}

.green-font {
    color: var(--green);
}

.lightgrey-font {
    color: var(--light-grey);
}

.white-font {
    color: white;
}

.about {
    max-width: 400px;
    width: 90%;
}

.platform-image {
    max-width: 240px;
}